<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Games</title>
  </head>
  <body>
    <%- include('header') %> <%- include('navbar') %>
    <h2>Games (W.I.P.)</h2>
    <div>
      <ul>
        <% for (let game of games){%>
        <li>
          <div>
            <h3><%= game.gamename %></h3>
            <a href="/games/<%=game.gamename%>">More</a>
          </div>
        </li>
        <%}%>
      </ul>
    </div>
    <%- include('footer') %>
  </body>
</html>
