<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/body.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap"
      rel="stylesheet"
    />
    <title>Games</title>
  </head>
  <body>
    <div class="main">
      <div class="headerNavFooterContent">
        <%- include('header') %>
        <div class="navFooterContent">
          <%- include('navbar') %>
          <div class="footerContent">
            <div class="content">
              <h2>Games (W.I.P.)</h2>
              <ul>
                <% for (let game of games){%>
                <li>
                  <div>
                    <h3><%= game.gamename %></h3>
                    <a href="/games/<%=game.gamename%>">More</a>
                  </div>
                </li>
                <%}%>
              </ul>
            </div>
            <%- include('footer') %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
