<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
  </head>
  <body>
    <%- include('header') %> <%- include('navbar') %>
    <div>
      <h2><%=genre[0].genrename%></h2>
      <p><%=genre[0].description%></p>
      <a href="/genres">Back</a>
      <a href="/updateGenre/<%=genre[0].genreid%>"><button>Update</button></a>
      <a href="/<%=genre[0].genrename%>/deleteGenre"><button>Delete</button></a>
      <nav>
        <ul>
          <% for (let game of genre.game){%>
          <a href="/games/<%=game.gamename%>"><li><%=game.gamename%></li></a>
          <%}%>
        </ul>
      </nav>
    </div>
    <%- include('footer') %>
  </body>
</html>
