<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/body.css" />
    <link rel="stylesheet" href="/genre.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap"
      rel="stylesheet"
    />
    <title><%=title%></title>
  </head>
  <body>
    <div class="main">
      <div class="headerNavFooterContent">
        <%- include('header') %>
        <div class="navFooterContent">
          <%- include('navbar') %>
          <div class="footerContent">
            <div class="content">
              <div class="genre">
                <div class="top">
                  <h2><%=genre[0].genrename%></h2>
                  <p><%=genre[0].description%></p>
                  <nav class="game">
                    <ul>
                      <% for (let game of genre.game){%>
                      <a href="/games/<%=game.gamename%>"
                        ><li class="gameLinks"><%=game.gamename%></li></a
                      >
                      <%}%>
                    </ul>
                  </nav>
                </div>

                <nav class="links">
                  <a href="/genres"><div>Back</div> </a>
                  <a href="/updateGenre/<%=genre[0].genreid%>"
                    ><div>Update</div>
                  </a>
                  <a href="/<%=genre[0].genrename%>/deleteGenre"
                    ><div>Delete</div></a
                  >
                </nav>
              </div>
            </div>
            <%- include('footer') %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
